.info-text{
    z-index: 11;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 20%;
    top: 20%;
}

.presentation-container{
    top: 0;
    left: 22%;
    right: 22%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px
}

.card-container{
    z-index: 10;
    background-color: rgba(155, 123, 166, 0.351);
    aspect-ratio: 1/1.5;
    padding: 8px;
    padding-top: 25px;
    position: relative;
    width: 250px;
    border-radius: 8px;
    margin: auto;
    line-height: 185%;

    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.351);
    border-left: 1px solid rgba(255, 255, 255, 0.351);

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    gap: 25px;

    color: var(--text-color);
}

.card-container:nth-child(2){
    margin-bottom: 100px;
}

.card-container > h1 {
    font-weight: bolder;
}