.nav-items {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.nav-item {
  position: relative;
  padding: 0 10px;
  cursor: pointer;
}

.nav-item::after {
  content: "";
  position: absolute;
  background-color: var(--cta-color);
  transition: all 300ms;
  border-radius: 9999px;
  height: 3px;
  width: 0%;
  left: 0%;
  bottom: -5px;
}

.nav-item:hover::after {
  width: 100%;
}

.logo {
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
}

.navbar {
  justify-content: space-around;
  align-items: center;
}

.navbar {
  height: 63px;
  padding: 3px;
  background-color: white;
  padding: 0px;
  display: flex;
  flex-direction: row;
  font-size: 18px;
  font-weight: 600;
}

.hamburger-menu {
  display: none;
  background-color: transparent;
  outline: none;
  border-width: 0px;
  padding: 3px;
  overflow: hidden;
  transition: translate 1s, rotate 1s;
}

.hamburger-menu .line {
  transition: 1s;
  stroke-dasharray: 60 31 60 300;
}

.hamburger-menu:hover{
    translate: 0 -2.5px;
    rotate: 45deg;
}

.hamburger-menu:hover .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}



@media screen and (max-width: 900px) {
  .navbar {
    font-size: 17px;
  }
}

@media screen and (max-width: 600px) {
  .nav-item {
    display: none;
  }
  .hamburger-menu {
    display: block;
  }
  .logo {
    font-size: 25px;
  }
}
